/* Universal selector */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

div {
    display: block;
    max-width: 70%;
    margin: 0px auto;
    font-size: 1.2rem;
}

/* ID selector */
#title {
    text-align: center;
    padding: 20px 0px;
}


a.btn {
    text-decoration: none;
    display: inline-block;
    color: #734ae4;
    border: 1px solid #fc03b1;
    padding: 10px 10px;
    border-radius: 5%;
    margin-bottom: 10px;
}

a.btn:hover {
    color: #fc03b1;
    border: 1px solid #734ae4;
}

nav {
    max-width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
}

nav ul li a {
    display: block;
    padding: 10px 0;
    color: #734ae4;
    border: 1px solid #fc03b1;
    margin: 3px 0px;
    border-radius: 3px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fc03b1;
    border: 1px solid #734ae4;
}

p::first-line {
    color: red;
}

p::first-letter {
    font-size: xx-large;
}

p::after {
    content: "";
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 1px;
    background-color: #734ae4
}

p::before {
    content: "";
    display: block;
    width: 15px;
    margin: 0 auto;
    height: 15px;
    background-color: #d8095f;
    position: absolute;
    left: 300px;
}

@media screen and (max-width: 600px) {

    ul li {
        flex-direction: column;
    }

    a.btn {
        display: block;
    }
}

@media screen and (min-width: 900px) {

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul li {
        display: block;
        width: 100%;
        margin: 0 3px;
    }
}