@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0;
    background-color: #f8f8f8;
    /* border: 1px solid #fc03b1; */
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    text-align: center;
    /* letter-spacing: 0.5rem; */
    /* border: 1px solid #fc03b1; */
}

.text h1 {
    color: #707070;
    font-size: 2rem;
}

.text p {
    color: #85d2fc;
    font-size: 1.5rem;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    /* border: 1px solid #fc03b1; */
}

li {
    list-style: none;
}

a {
    display: inline-block;
    padding: 1em 1.5em;
    text-decoration: none;
    color: #707070;
    font-size: 1rem;
    /* border: 1px solid #fc03b1; */
}

ul li a:hover {
    background-color: #1792D2; 
    color: #fff;
}

ul li a:focus {
    border-bottom: 2px solid #1792D2;
}

/* ul li a:focus */

@media  (max-width: 868px) {

    .nav {
        flex-direction: column;
    }

    h1 {
        font-size: 1rem;
    }

    p {
        font-size: .8rem;
    }

    ul {
        flex-direction: column;
        width: 100%;
    }

    li {
        width: 100%;
        text-align: center;
    }

}