* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  width: 30%;
  height: 30vh;
  border: 1px solid #fc03b1;
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  color: #000;
  width: 30%;
  padding: 0.8em 0.5em;
  font-size: 0.8rem;
}