body {
    font-size: 1.123rem;
    color: #787878;
    margin: 0;
    /* box-sizing: border-box; */
}

/* Typography */

h1 {
    font-size: 3rem;
    color: #212614;
    text-align: center;
}

h1 span {
    color: #b7832f;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
}

/* Layout */

img {
    max-width: 100%;
}

.container {
    width: 95%;
    max-width:980px;
    margin: 0 auto;
}

.columns {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    margin: 1em 0;
}

/* @media (max-width: 600px) {
    .columns {
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }
} */


.col-bg {
    background-color: #212614;
    color: #fff;
    padding: 1em;
}

.col-1 {
    width: 24%;
    /* flex-grow: 1; */
}

.col-2 {
    width: 48%;
    /* flex-grow: 2; */
}

.col-3 {
    width: 72%;
    /* flex-grow: 3; */
}

@media (max-width: 600px) {

    h2 {
        text-align: center;
    }

    .columns {
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: space-between;
        align-items: center;
    }

    .col-1,
    .col-2,
    .col-3 {
        margin: .5em 0;
        width: 100%;
    }

    .col-bg {
        padding: 0px;
    }
}